.MiniNav {
  display: none;
  position: sticky;
  top: 0;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* text-align: right; */
  font-size: calc(24px + 1vmin);
  height: 32px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 33, 43, 1);
}

.MiniNav-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
}

.MiniNav-avatar {
  position: absolute;
  top: 0;
  right: 0;
  height: 32px;
  margin-left: 8px;
}

.MiniNav-external-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0px;
}

@media screen and (max-width: 784px) {
  .MiniNav {
    display: flex;
  }
}
