.navigation {
  right: 0;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  font-size: calc(10px + 2vmin);
  position: fixed;
  text-align: right;
  height: 100vh;
  /* padding: 10px; */
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  /* border: 1px solid white; */
  border-right: 0px;
  border-top: 0px;
  /* border-bottom-left-radius: 2em; */
  overflow: hidden;
  background-color: rgba(0, 33, 43, 1);
}

.navigation-avatar-wrapper {
  align-self: center;
}

.navigation-avatar {
  max-height: 5em;
  /* border-radius: 1em; */
}

.navigation-avatar-name {
  font-size: calc(10px + 1vmin);
  text-align: center;
}

.navigation:hover {
  background: rgba(0, 80, 102, 1);
}

.navigation-internal-links {
  position: absolute;
  right: 0;
  padding-right: 4px;
}

.navigation-external-links {
  bottom: 0;
  right: 0;
  position: absolute;
  padding-right: 4px;
}