.App {
  /* text-align: center; */
  font-size: calc(10px + 2vmin);
  width: 80%;
  /* padding: 0px 20px 20px 20px; */
  background-color: rgba(0, 33, 43, 0.8);
  min-height: 100vh;
}

.App-banner {
  width: 100%;
}

.App-content {
  padding-left: 20px;
}