.App {
  display: flex;
  flex-flow: column nowrap;
  font-size: calc(10px + 2vmin);
  width: 80%;
  background-color: rgba(0, 33, 43, 0.8);
  min-height: 100vh;
}

.App-banner {
  width: 100%;
}

/* .App-content {
  padding-right: 20px;
} */

.App-section {
  background-color: rgba(0, 33, 43, 1);
  padding-left: 40px;
}

.App-section:hover {
  background: rgba(0, 80, 102, 1);
}

.App-skills-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}

.App-skills {
  display: flex;
  flex-flow: row nowrap;
  font-family: "Apple2";
  font-size: calc(8px + 1vmin);
}

.divider {
  width: 20vmin;
}

/* .App-skills-split {
  width: 50%;
} */