.App {
  display: flex;
  flex-flow: column nowrap;
  font-size: calc(10px + 2vmin);
  width: 80%;
  background-color: rgba(0, 33, 43, 0.4);
  min-height: 100vh;
  line-height: 1.75rem;
}

.App-banner {
  width: 100%;
}

.App-section {
  background-color: rgba(0, 33, 43, 0.8);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 1.75rem;
  margin-bottom: 1.75rem;
}

.App-section:hover {
  background: rgba(0, 80, 102, 1);
}

.App-skills {
  display: flex;
  flex-flow: row wrap;
  font-family: "Apple2";
  font-size: 1rem;
  justify-content: space-around;
}

.App-skills-split {
  padding-bottom: 2vmin;
  text-align: left;
}

@media screen and (max-width: 784px) {
  .App {
    width: 100%;
  }

  .App-section {
    background-color: rgba(0, 33, 43, 0.8);
    text-align: center;
  }

  .App-section:hover {
    background: rgba(0, 33, 43, 0.8);
  }
}

@media screen and (max-width: 686px) {
  .App-skills {
    display: block;
  }
  .App-skills-split {
    text-align: center;
  }
}